#page .main-nav {
 padding-top: 0px !important;   
 padding-bottom: 0px !important;
 color: #FFFFFF;
 text-transform: uppercase;
}
#page .main-nav ul.menu {
    background:#ufc0;
    font-size: 0; /* Fix display-inline block space */
}
#page .main-nav ul.menu li * {
    font: 300 16px/16px Oswald, Arial;
}
#page .main-nav ul.menu li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 25px 12px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
#page .main-nav ul.menu li a:after {
	display: none;
}
#page .main-nav ul.menu li:hover a, #page .main-nav ul.menu li.current-menu-item a, #page .main-nav ul.menu li.current-menu-ancestor a {
   background: #ufc1;
}
#page .main-nav ul.menu li ul.sub-menu {
 /*display: none;*/
}
#page .main-nav ul.menu li ul.sub-menu a {
	padding: 20px 12px;
}
#page .main-nav ul.menu li > ul.sub-menu {
    left: 0;
	top: auto;
}
#page .main-nav ul.menu li > ul.sub-menu li > ul.sub-menu {
    top: 0;
	left: 100%;
}
#page .main-nav ul.menu li:hover > ul.sub-menu {
	/*display: block;*/
}
#page .main-nav ul.menu li > ul.sub-menu a {
	color: #FFF;
	background: #4f7e7d;
	border: 0px;
	text-align: left;
}
#page .main-nav ul.menu li > ul.sub-menu a:hover {
	background: #FFF;
	color: #4f7e7d;
}
