div[data-style='burger'] ul.menu {
    background: #67a8a7;
}
div.responsive_nav_toggler {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    border: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ufc7;
    opacity: 1;
    transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -webkit-transition: opacity 0.25s ease-in;
    z-index: 0;
}
div.responsive_nav_toggler:hover {
    opacity: 0.6;
}
div.responsive_nav_toggler > div {
    width: 16px;
    height: 2px;
    margin-bottom: 2px;
    background: #ufc6;
}
div.responsive_nav_toggler > div:last-child {
    margin-bottom: 0;
}
 i.burger_nav_close {
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 20px;
    padding-top: 1px;
    background: #ufc7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
    text-align: center;
}
div[data-style='burger'] ul.menu > li.menu-item > a {
    color: #ufc6;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    font-family: "Oswald";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
}
div[data-style='burger'] ul.menu > li.current-menu-item > a, div[data-style='burger'] ul.menu > li.menu-item > a:hover {
    color: #ufc7;
}
div.upfront-navigation div.upfront-navigation[data-style="burger"][data-burger_alignment="right"] ul.menu {
    min-width: 30%;
    max-width: 50%;
    padding: 0 20px;
    width: auto;
}
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li {
    margin-bottom: 20px;
}
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li:last-child,
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li.wrap_burger_nav_close {
    margin-bottom: 0;
}
div[data-style='burger'][data-burger_alignment="right"] ul.menu > li.menu-item > a {
    padding: 0;
}
