/*
Theme Name: Spirit
Description: A professionally crafted, high-end portfolio theme with a fresh, natural design inspired by stunning photography and clean, bold typography.
Version: 1.0-alpha-1
Template: upfront
Author: WPMU DEV
Author URI: https://premium.wpmudev.org/
Theme URI: https://premium.wpmudev.org/project/upfront-spirit/
Text Domain: spirit
WDP ID: 938302
*/
@import url(../upfront/style.css);
