#page .breadcrumb-responsive p, #page .breadcrumb-responsive p a {
     margin-top: 10px;
     font: 13px 'Oswald', Arial;
     font-weight:400;
     color: #ufc2;
}
#page .breadcrumb-responsive p a {
    color: #ufc5;
}
#page .breadcrumb-responsive p a:hover {
    color: #ufc2;
}
#page .breadcrumb-responsive.upfront-plain_txt {
    margin-top:10px;
    text-align:center
}
