#page .breadcrumbs p, #page .breadcrumbs p a {
     margin-top: 10px;
     font: 13px 'Oswald', Arial;
     font-weight:400;
     color: #ufc2;
}
#page .breadcrumbs p a {
    color: #ufc5;
}
#page .breadcrumbs p a:hover {
    color: #ufc2;
}
#page .breadcrumbs.upfront-plain_txt {
    margin-top:10px;
}
