#page .breadcrumb-center p {
     margin-top: 20px;
     font: 15px 'Oswald', Arial;
     color: #ufc2;
}
#page .breadcrumb-center p a {
    color: #ufc5;
    font: 15px 'Oswald', Arial;
}
#page .breadcrumb-center p a:hover {
    color: #ufc2;
}
