#page .breadcrumbs p {
     margin-top: 10px;
     font: 14px 'Oswald', Arial;
     color: #ufc2;
}
#page .breadcrumbs p a {
    color: #ufc5;
    font: 14px 'Oswald', Arial;
}
#page .breadcrumbs p a:hover {
    color: #ufc2;
}
