#page .text-center.upfront-plain_txt, #page .text-center h1, #page .text-center h2, #page .text-center h3, #page .text-center h4, #page .text-center h5, #page .text-center p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
