#page .contact-form .upfront-field-container {
    float: left;
    width: 100%;
}
#page .contact-form form div:nth-child(5), #page .contact-form form div:nth-child(6) {
    width: 100%%;
}
#page .contact-form .upfront-field-container.ucontact-label-inline {
    width: 100%;
}
#page .contact-form .upfront-field-container input[type=text] {
    border-radius: 4px 4px 0 0;
}
#page .contact-form .upfront-field-container input[type=email] {
    border-radius: 0 0 0;
}
#page .contact-form .upfront-field-container input {
  outline: 0px;
  width: 100%;
  margin-bottom:1px;
}
#page .contact-form .upfront-field-container input, #page .contact-form textarea {
  padding: 10px 15px;
  box-sizing: border-box;
  font: 15px 'Open Sans', Arial;
  font-weight: 300;
  color: #ufc2;
  background: rgba(250, 250, 250, 0.90);
  border: 1px solid #ufc6;
}
#page .contact-form textarea {
  outline: 0px;
  resize: vertical;
  box-sizing: border-box;
  min-height: 170px;
  max-height:170px;
  width: 100%;
  border-radius: 0 0 4px 4px;
}
#page .contact-form input:focus, #page .contact-form textarea:focus {
    color: #ufc5;
    border-color: #ufc6; 
    background: #ufc6;
}
#page .contact-form button[type="submit"] {
    background:#ufc0;
    border-bottom: 2px solid #ufc1;
    border-radius: 4px;
    color: #ufc6;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
    width:100%;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    margin-bottom:100px;
}
#page .contact-form button[type="submit"]:hover {
   background: #ufc1;
}
#page .contact-form .upfront-contact-form-title {
 font: 30px/35px Open Sans, Arial;
 color: #fff;
 text-align: center;
 padding: 0px 0px 5px;
}
#page .contact-form .ucontact-label-above label, #page .contact-form .ucontact-label-inline label {
   padding: 5px 0px 5px;
}
#page .contact-form .upfront-field-container.ucontact-label-over {
    margin-bottom: 0px;
}
#page .contact-form .upfront-field-container.ucontact-label-over input[type="submit"] {
}
#page .contact-form .ucontact-label-over label {
    padding: 12px;
}
