.upfront-contact-form .ucontact-message-container {
    margin-bottom: 0;
}
.upfront-contact-form .ucontact-message-container.ucontact-success-response {
    background-color: transparent;
    padding: 0;
    position: relative;
    margin: 0;
}
.upfront-contact-form .ucontact-message-container.ucontact-success-response:after {
    content: "";
    display: none;
}
.upfront-contact-form .ucontact-message-container.ucontact-success-response div {
    display: block;
}
.upfront-contact-form .ucontact-msg, .upfront-contact-form .ucontact-msg.info p {
    font: 15px 'Open Sans', Arial;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6em;
}
.upfront-contact-form .ucontact-msg {
    margin-bottom: 10px;
    padding: 15px;
    border-radius:4px;
}
.upfront-contact-form .ucontact-msg.error {
    background: #f2dede;
    color: #a94442;
}
.upfront-contact-form .ucontact-msg.info {
    background: #dff0d8;
    color: #3c763d;
}
.upfront-contact-form .ucontact-msg.info p {
    color: #3c763d;
    display: block;
    margin: 0;
    text-align: left;
}
