#page .footer-search input.search-field {
   color: #414042; 
   font: 300 15px Open Sans, Arial;
   text-indent:15px;
   height: 38px;
   line-height:38px;
   border-radius: 4px;
   border: 1px solid #ufc3;
   width: 100%;
   letter-spacing: 0px;
    -webkit-transition: background-color .4s;
    transition: background-color .2s;
}
#page .footer-search i.icon-search {
    right: 25px;
    top: 27px;
    position: absolute;
    float: left;
    cursor: auto;
}
#page .footer-search .icon-search:before {
    content: "";
    background: url(UPFRONT_THEME_BASE/images/sprite.png);
    background-image: url(UPFRONT_THEME_BASE/images/sprite.svg), none;
    /* If it supports multiple backgrounds supports svg */
    top: -1px;
    left: 0;
    width: 22px;
    height: 22px;
    display: block;
    position: relative;
    background-position: -538px -867px;
}
#page .footer-search input.search-field:focus {
 border: 1px solid #ufc0;
 color: #333;
}
