#page .footer-search input.search-field {
   color: #414042; 
   font: italic 14px Open Sans, Arial;
   padding: 8px 10px;
   border-radius: 2px;
   border: 1px solid #4f7e7d;
   width: 170px;
}
#page .footer-search i.icon-search {
    margin-left: 160px;
    float: left;
    margin-top: -30px;
}
#page .footer-search .icon-search:before {
    content: "";
    background: url(UPFRONT_THEME_BASE/images/sprite.png);
    background-image: url(UPFRONT_THEME_BASE/images/sprite.svg), none;
    /* If it supports multiple backgrounds supports svg */
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    display: block;
    position: relative;
    background-position: -538px -867px;
}
