#page .inline-gallery {
	text-align: center;
}
#page .inline-gallery .ugallery_item {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
#page .inline-gallery .ugallery_item a {
  overflow: hidden;
  display: block;
  text-decoration: none;
}
#page .inline-gallery .ugallery_item a img.ugallery-image {
    width: 100%;
    height: 100%;
}
#page .inline-gallery .ugallery_item a:hover img.ugallery-image {
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px); 
    -o-filter: blur(2px); 
    -ms-filter: blur(2px); 
    filter: blur(2px); 
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=2);
}
#page .inline-gallery .ugallery_item a:hover:before, #page .inline-gallery .ugallery_item a:hover:after {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 display: block;
}
#page .inline-gallery .ugallery_item a:hover:before {
 content: " ";
 background: rgba(48,48,48,0.4);
}
#page .inline-gallery .ugallery_item a:hover:after {
 content: " " ;   
 background: url("/Upfront/wp-content/themes/uf-spirit/images/plus.png") center center no-repeat;
}
#page .inline-gallery .ugallery-thumb-title {
  box-sizing: border-box;
  font: 14px/15px Open Sans, Arial;
}
#page .inline-gallery .ugallery_labels {
    padding: 0px 0px 20px;
}
#page .inline-gallery .ugallery_labels a {
    background-color: #69A8A6;
    color: #FFF;
    border-radius: 4px;
    font: 14px/16px 'Open Sans', Arial;
    text-align: center;
    padding: 4px 21px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid #69A8A6;
}
#page .inline-gallery .ugallery_labels a:hover {
  background: #4F7E7D;  
  border-color: #4F7E7D;
}
#page .inline-gallery .ugallery_labels a.filter_selected {
    color: #4F7E7D;
    background: #FFFFFF;
}
