#page .blog-archive-mobile.uposts-object li.uf-post .date_posted {
    font: 300 30px/26px 'Open Sans', Arial;
    text-transform: uppercase;
    text-align: center;
    color: #69a8a6;
    width: 52px;
    font-style: italic;
    position: absolute;
}
#page .blog-archive-mobile.uposts-object li.uf-post .title {
    margin-bottom:4px;
}
#page .blog-archive-mobile.uposts-object li.uf-post .title, #page .blog-archive-mobile.uposts-object li.uf-post .post_categories {
    margin-left:68px;
}
#page .blog-archive-mobile.uposts-object li.uf-post .title h3 a {
    font: 600 26px/26px 'Open Sans', Arial;
    
    
    text-transform: uppercase;
    color: #548685 !important;
}
#page .blog-archive-mobile.uposts-object li.uf-post .title h3 {
    margin-bottom: 0;
}
#page .blog-archive-mobile.uposts-object li.uf-post .post_categories a {
    font: 300 18px 'Open Sans', Arial;
    text-transform: uppercase;
    color:#a89084;
}
#page .blog-archive-mobile.uposts-object li.uf-post .author {
    font: 200 12px 'Open Sans', Arial;
    text-transform: uppercase;
    color: #999;
    float:left;
    width:60%;
    padding:8px 0 4px 15px;
}
#page .blog-archive-mobile.uposts-object li.uf-post .author a {
    color: #69a8a6;
}
#page .blog-archive-mobile.uposts-object li.uf-post .comment_count {
    font: 200 12px 'Open Sans', Arial;
    text-transform: uppercase;
    color: #999;
    text-align:right;
    padding:6px 15px 6px;
    border-top: 2px #000 solid;
    border-bottom: 1px #000 solid;
    margin-bottom: 30px;
}
#page .blog-archive-mobile .uposts-object li.uf-post .thumbnail {
    max-height:200px;
    margin-bottom: 30px;
}
#page .blog-archive-mobile.uposts-object li.uf-post .read_more {
    float: right;
    font-weight: 200;
    font-style: italic;
}
#page .blog-archive-mobile div.post_content blockquote {
    margin-left: -44px;
}
#page .blog-archive-mobile div.post_content > *:first-child {
  margin-top:0
}
