#page .uf-uposts-archive .uf-post {
    margin-top: 30px;
}
#page .uf-uposts-archive .uf-post:first-child {
    margin-top: 0;
}
#page .uf-uposts-archive .uf-post article {
    overflow: hidden;
}
#page .uf-uposts-archive .thumbnail {
    max-height: 250px;
    position: relative;
}
#page .uf-uposts-archive .thumbnail:after {
    background-color: #ufc0;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    opacity: 0;
    margin: auto;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    width: 100%;
}
#page .uf-uposts-archive .thumbnail:hover:after {
    opacity: .8;
}
#page .uf-uposts-archive .date_posted {
    float: right;
    margin: 0;
}
#page .uf-uposts-archive .date_posted .date {
    color: #ufc2;
    display: block;
    font-family: 'Oswald', Arial, sans-serif;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
}
#page .uf-uposts-archive .date_posted .date-day {
    font-size: 30px;
    font-weight: 300;
    letter-spacing:0px;
    margin-top:3px;
}
#page .uf-uposts-archive .date_posted .date-month {
    font-size: 13px;
    font-weight: 300;
    margin-top:-5px;
    letter-spacing:1px;
}
#page .uf-uposts-archive .title h3 {
    margin: 0;
    max-width: 85%;
}
#page .uf-uposts-archive .title h3, #page .uf-uposts-archive .title h3 a {
    color: #ufc7;
    font-size: 25px;
    font-style: normal;
    font-weight:700;
    letter-spacing: -0.2px;
    line-height: 1.3em;
    text-transform: uppercase;
}
#page .uf-uposts-archive .title h3 a:hover {
    color: #ufc5;
}
#page .uf-uposts-archive .author, #page .uf-uposts-archive .author a {
    margin-top:-10px;
    color: #ufc2;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
}
#page .uf-uposts-archive .author a {
    color: #ufc2;
}
#page .uf-uposts-archive .author a:hover {
    color: #ufc7;
}
#page .uf-uposts-archive .author {
    margin-bottom: 10px;
    position: relative;
}
#page .uf-uposts-archive .author:after {
    background: #ufc4;
    content: "";
    display: block;
    height: 1px;
    margin: 15px 0 0;
    width: 100%;
}
#page .uf-uposts-archive .content {
    margin-bottom: 10px;
}
#page .uf-uposts-archive .content p {
    font-size: 15px;
    line-height: 25px;
}
#page .uf-uposts-archive .content p:last-child {
    margin-bottom: 0;
}
#page .uf-uposts-archive .read_more {
    margin: 0;
}
#page .uf-uposts-archive .read_more a {
    font-size: 14px;
    line-height: 25px;
    color:#ufc0;
}
#page .uf-uposts-archive .read_more a:hover {
    color:#ufc1;
}
#page .uf-uposts-archive .uf-pagination {
    margin: 60px 15px 0;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
}
#page .uf-uposts-archive .uf-pagination .page-numbers {
    color: #ufc5;
    display: inline-block;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    height: 40px;
    line-height: 39px;
    width: 40px;
}
#page .uf-uposts-archive .uf-pagination .page-numbers:hover { 
    border-radius: 50%;
    border: 2px solid #ufc3;
    color: #ufc2;
}
#page .uf-uposts-archive .uf-pagination .page-numbers.current {
    border-radius: 50%;
    border: 2px solid #ufc0;
    color: #ufc0;
}
#page .uf-uposts-archive .uf-pagination .page-numbers.prev, #page .uf-uposts-archive .uf-pagination .page-numbers.next {
    height: auto;
    line-height: 25px;
    margin: 10px 0 0;
    width: auto;
    font-weight: 400;
}
#page .uf-uposts-archive .uf-pagination .page-numbers.prev:hover, #page .uf-uposts-archive .uf-pagination .page-numbers.next:hover {
    color: #ufc2;
    border-radius: none;
    border: none;
    padding-top:0px;
}
#page .uf-uposts-archive .uf-pagination .page-numbers.prev {
    float: left;
}
#page .uf-uposts-archive .uf-pagination .page-numbers.next {
    float: right;
}
