.upfront-comments {
    list-style: none;
    margin: 0 0 60px 0;
    padding: 0;
}
.upfront-comments ol.children {
    margin-left: 45px;
}
.upfront-comment li.comment {
    list-style-type: none;
    margin: 10px 0 0;
    overflow: hidden;
}
.upfront-comment li.comment.depth-1:first-child {
    margin-top: 0;
}
.upfront-comment article {
    overflow: hidden;
}
.upfront-comment .comment-wrapper {
    background-color: #f2f2f2;
    overflow: hidden;
    padding: 30px;
    border-radius: 4px;
}
.upfront-comment .comment-avatar {
    float: left;
    max-height: 75px;
    margin-right: 30px;
}
.upfront-comment .avatar {
    background: #ufc6;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ufc0;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}
.upfront-comment .comment-content-wrapper {
    float: left;
    width: 100%;
}
.upfront-comment .depth-2 .comment-content-wrapper {
    width: 100%;
}
.upfront-comment .depth-3 .comment-content-wrapper {
    width: 100%;
}
.upfront-comments .comment-author .fn, .upfront-comments .comment-author a {
    color: #ufc7;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.upfront-comments .comment-author a:hover {
    color: #ufc5;
    font-weight: 600;
}
.upfront-comments .comment-time {
    margin-top:-10px;
}
.upfront-comments .comment-time a {
    color: #ufc2;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
}
.upfront-comments .comment-time a:hover {
    text-decoration: underline;
}
.upfront-comment .comment-content p:last-child {
    margin: 0;
}
.upfront-comment .edit-link {
    margin-bottom: 0;
}
.upfront-comment .comment-edit-link {
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
.upfront-comment .comment-edit-link:hover {
    font-weight: 400;
}
.comment-meta-actions {
    margin-top: 5px;
    overflow: hidden;
}
 p.comment-awaiting-moderation {
    float: left;
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 0;
    max-width: 75%;
    width: 100%;
}
 p.comment-awaiting-moderation + .comment-reply {
    float: left;
    max-width: 25%;
}
.comment-reply {
    text-align: right;
    width: 100%;
    font-size: 13px;
}
.comment-reply a {
    line-height: 25px;
    font-weight: 400;
}
.comment-reply a:hover {
    font-weight: 400;
}
#respond {
    border-top: 1px solid #ufc4;
    padding-top: 30px;
}
h3.comment-reply-title {
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    margin-bottom:5px;
}
h3.comment-reply-title a {
    color: #ufc0;
    text-transform: none;
}
h3.comment-reply-title small {
    display: block;
}
#cancel-comment-reply-link {
    color: #ufc2;
    font-size: 16px;
    line-height: 25px;
}
#cancel-comment-reply-link:hover {
    color: #ufc0;
}
p.logged-in-as {
    color: #ufc7;
    font-size: 15px;
    line-height: 25px;
}
#commentform {
    margin-top: 0;
}
.comment-form input[type="text"], .comment-form textarea {
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #707070;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    padding: 10px 15px;
    -moz-transition: border-color .2s;
    -ms-transition: border-color .2s;
    -o-transition: border-color .2s;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
    width: 100%;   
}
.comment-form input[type="text"]:focus, .comment-form textarea:focus {
    border-color: #ufc0;
    color: #ufc8;
}
.comment-form label {
    color: #ufc7;
    font-size: 22px;
    display: block;
    line-height: 30px;
    letter-spacing: -0.5px;
    margin-bottom: 10px
}
 p.comment-form-author,  p.comment-form-email,  p.comment-form-url {
    float: left;
    margin-left: 2%;
    width: 32%;
}
 p.comment-form-author {
    margin-left: 0;
}
p.comment-form-comment {
    clear: both;
}
 p.comment-notes {
    color: #ufc7;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 15px;
}
p.form-submit {
    text-align: right;
}
input.submit {
    background: #ufc0;
    border-bottom: 3px solid #ufc1;
    border-radius: 4px;
    color: #ufc6;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
    min-width: 150px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
input.submit:hover {
    background-color: #ufc1;
}

.upfront #ucomment-object-1445262122920-1990 {
    min-height: 200px!important;
}
