.upfront-output-ucomment {
    margin-top: 60px;
}
.upfront-comments {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.upfront-comment li.comment {
    margin: 60px 15px 0;
    overflow: hidden;
}
.upfront-comment li.comment:first-child {
    margin-top: 0;
}
.upfront-comment li.comment .comment {
    margin-top: 0;
}
.upfront-comment article {
    overflow: hidden;
}
.upfront-comment .comment-wrapper {
    background-color: #f2f2f2;
    overflow: hidden;
    padding: 10px 35px;
}
.upfront-comment .comment-meta {
    float: left;
    max-height: 75px;
    margin-right: 30px;
}
.upfront-comment .avatar {
    background: #ufc6;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ufc0;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}
.upfront-comment cite, .upfront-comment .comment-time {
    display: none;
}
.upfront-comment .comment-content {
    float: left;
    max-width: 560px;
    width: 100%;
}
.upfront-comment .comment-content p:last-child {
    margin: 0;
}
 .comment-meta-actions {
    margin-top: 15px;
    overflow: hidden;
}
 p.comment-awaiting-moderation {
    float: left;
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 0;
    max-width: 75%;
    width: 100%;
}
 p.comment-awaiting-moderation + .comment-reply {
    float: left;
    max-width: 25%;
}
 .comment-reply {
    text-align: right;
    width: 100%;
}
 .comment-reply a {
    color: #ufc0;
    font-size: 16px;
    line-height: 25px;
}
 .comment-reply a:hover {
    color: #ufc1;
    text-decoration: underline;
}
#respond {
    border-top: 1px solid #d0d0d0;
    margin-top: 60px;
    padding-top: 30px;
}
h3.comment-reply-title {
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}
h3.comment-reply-title a {
    color: #ufc0;
    text-transform: none;
}
h3.comment-reply-title small {
    display: block;
}
#cancel-comment-reply-link {
    color: #ufc2;
    font-size: 16px;
    line-height: 25px;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
    -webkit-transition: color .4s;
    transition: color .4s;
}
#cancel-comment-reply-link:hover {
    color: #ufc0;
}
#commentform {
    margin-top: 25px;
}
.comment-form input[type="text"], .comment-form textarea {
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    color: #757575;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 15px;
    -moz-transition: border-color .4s;
    -ms-transition: border-color .4s;
    -o-transition: border-color .4s;
    -webkit-transition: border-color .4s;
    transition: border-color .4s;
    width: 100%;
}
.comment-form input[type="text"]:focus, .comment-form textarea:focus {
    border-color: #ufc0;
}
.comment-form label {
    color: #757575;
    display: block;
    font-size: 14px;
    line-height: 30px;
}
 p.comment-form-author,  p.comment-form-email {
    float: left;
    width: 50%;
}
 p.comment-form-email {
    margin-left: 2%;
    width: 48%;
}
 .comment-form-url {
    display: none;
}
 p.comment-notes {
    color: #ufc7;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 5px;
}
p.form-submit {
    text-align: right;
}
input.submit {
    background: #ufc0;
    border-bottom: 3px solid #ufc1;
    border-radius: 4px;
    color: #ufc6;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
    min-width: 150px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: background-color .4s;
    -ms-transition: background-color .4s;
    -o-transition: background-color .4s;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
input.submit:hover {
    background-color: #ufc1;
}
