#page .uf-ucomments-responsive p.comment-form-author, #page .uf-ucomments-responsive p.comment-form-email, #page .uf-ucomments-responsive p.comment-form-url {
    float: none;
    margin-left: 0;
    width: 100%;
}