#page .single-post-style time.post_date {
    font: 300 30px/26px 'Open Sans', Arial;
    text-transform: uppercase;
    text-align: center;
    color: #69a8a6;
    width: 62px;
    font-style: italic;
}
#page .single-post-style time.post_date span {
    display: block;
}
#page .single-post-style time.post_date span.date_part_1 {
    font-size: 24px;
}
#page .single-post-style h1.post_title a {
    font: 600 26px/26px 'Open Sans', Arial;
    text-transform: uppercase;
    color: #548685 !important;
    text-align: left;
}
#page .single-post-style div.post_categories {
    font: 300 18px 'Open Sans', Arial;
    text-transform: uppercase;
    color:#a89084;
}
#page .single-post-style div.post_comments {
    font: 200 12px 'Open Sans', Arial;
    text-transform: uppercase;
    color: #999;
    text-align:right;
    padding:6px 15px 6px;
    border-top: 2px #000 solid;
    border-bottom: 1px #000 solid;
}
#page .single-post-style a.post_author {
    font: 200 12px 'Open Sans', Arial;
    text-transform: uppercase;
    color: #999;
    float:left;
    width:80%;
    padding:8px 0 4px 15px;
    margin-top:-32px;
}
