#page .thispage-style time.post_date {
    font: 300 30px/26px 'Open Sans', Arial;
    text-transform: uppercase;
    text-align: center;
    color: #69a8a6;
    font-style: italic;
    display: block;
}
#page .thispage-style time.post_date > span {
    display: inline-block;
}
#page .thispage-style time.post_date span.date_part_1 {
    font-size: 24px;
}
#page .thispage-style h2.post_title a {
    font: 600 26px/36px 'Open Sans', Arial;
    
    
    text-transform: uppercase;
    color: #548685 !important;
}
#page .thispage-style ul.post-categories {
    list-style-type: none;
}
#page .thispage-style .post-categories a {
    font: 300 18px 'Open Sans', Arial;
    text-transform: uppercase;
    color:#a89084;
}
#page .thispage-style div.upfront-postpart-author, #page .thispage-style div.upfront-postpart-comments_count {
    font: 200 12px 'Open Sans', Arial;
    text-transform: uppercase;
    color: #999;
    padding: 6px 15px;
    border-top: 2px #000 solid;
    border-bottom: 1px #000 solid;
}
#page .thispage-style div.upfront-postpart-comments_count {
    text-align: right;
}
#page .thispage-style div.upfront-postpart-title, #page .thispage-style div.upfront-postpart-categories {
    padding-left: 0;
}
#page .thispage-style h1.post_title {
    color: #000;
}
#page .thispage-style .post_content p, #page .thispage-style .post_content ul, #page .thispage-style .post_content ol {
    margin: 0 0 15px;
}
#page .thispage-style ul.post-categories {
    margin: 0;
}
#page .thispage-style div.post_content blockquote {
    margin-left: -44px;
}
#page .thispage-style div.post_content > ul, #page .thispage-style div.post_content > ol {
    margin-left: 60px;
}
#page .thispage-style div.post_content > *:first-child {
  margin-top:0
}
