time.post_date {
    text-transform: uppercase;
    text-align: center;
    display: block;
}
time.post_date > span {
    display: inline-block;
}
ul.post-categories {
    list-style-type: none;
}
.post-categories a {
    text-transform: uppercase;
}
div.upfront-postpart-author, div.upfront-postpart-comments_count {
    text-transform: uppercase;
}
div.upfront-postpart-comments_count {
    text-align: right;
}
div.upfront-postpart-title, div.upfront-postpart-categories {
    padding-left: 0;
}
.post_content p, .post_content ul, .post_content ol {
    margin: 0 0 15px;
}
ul.post-categories {
    margin: 0;
}
div.post_content > ul, div.post_content > ol {
    margin-left: 60px;
}
div.post_content > *:first-child {
  margin-top:0
}