#page .uf-upost-responsive .post-part.part-module-title, #page .uf-upost-responsive .post-part.part-module-author {
	margin-left: 0;
}
#page .uf-upost-responsive .post-part.part-module-date {
	width: 100%;
}
#page .uf-upost-responsive .upfront-postpart-wrapper.part-contents:before {
    margin: 10px 15px 0;
}
#page .uf-upost-responsive .post_content ul, #page .uf-upost-responsive .post_content ol, #page .uf-upost-responsive .post_content ul li, #page .uf-upost-responsive .post_content ol li, #page .uf-upost-responsive .post_content h1, #page .uf-upost-responsive .post_content h5, #page .uf-upost-responsive .post_content h4, #page .uf-upost-responsive .post_content h2, #page .uf-upost-responsive .post_content h3, #page .uf-upost-responsive .post_content h6, #page .uf-upost-responsive .post_content p, #page .uf-upost-responsive .post_content address, #page .uf-upost-responsive .post_content table, #page .uf-upost-responsive .post_content pre, #page .uf-upost-responsive .post_content cite, #page .uf-upost-responsive .post_content q, #page .uf-upost-responsive .post_content iframe, #page .uf-upost-responsive .post_content embed {
	margin-right: 0;
	margin-left: 0;
}
#page .uf-upost-responsive .post_content blockquote {
    padding: 0 0;
    margin: 20px 30px 60px;
}
#page .uf-upost-responsive .uf-upage-responsive .upfront-inserted_image-wrapper.ueditor-insert-variant .ueditor-insert {
    margin: 0;
    width: 100%;
}
